:root{
  --sapphire: #519fff; /* Sonic */
  --topaz: #d8a71f; /* Tails */
  --ruby: #b63333; /* Knuckles */
  --citrine: #ffb820; /* Shadow */
  --quartz: #e743a6; /* Amy */
  --onyx: #9f96a3; /* Eggman */
  --garnet: #b7217b; /* Rouge */
  --diamond: #7e9194; /* Silver */
  --amethyst: #b155c6; /* Blaze */
  --jasper: #f9bc7c; /* Cream */
}

@font-face {
  font-family: 'Sonic';
  /* src/fonts/NiseSegaSonic.TTF */
  src: url('./fonts/NiseSegaSonic.TTF') format('truetype');
}

#root{
  padding:1em;
  min-height: 95vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active{
  color: rgb(18, 190, 18) !important;
}

.smallimage{
  width: auto;
  height: 35vh;
  display: block;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}
.float-clear{
  clear: both;
}
.pad-left{
  padding-left: 1em;
}
.pad-right{
  padding-right: 1em;
}
.pad-top{
  padding-top: 1em;
}
.pad-bottom{
  padding-bottom: 1em;
}
.storyParagraph p{
  text-indent: 1em;
}
#logo{
  max-width: 3em;
  max-height: 3em;
  width: auto;
  float: left;
  margin-right: 1em;
}
.sonic-title{
  font-family: 'Sonic', sans-serif;
  font-size: 2em;
  font-style: italic;
  /* Increase kerning and tracking. */
  letter-spacing: 0.05em;
}
.gold{
  background: rgb(228,186,83);
  background: -moz-linear-gradient(45deg, rgba(228,186,83,1) 0%, rgba(241,221,125,1) 14%, rgba(247,236,165,1) 23%, rgba(208,139,48,1) 42%, rgba(247,229,142,1) 62%, rgba(211,152,55,1) 80%, rgba(208,145,48,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(228,186,83,1) 0%, rgba(241,221,125,1) 14%, rgba(247,236,165,1) 23%, rgba(208,139,48,1) 42%, rgba(247,229,142,1) 62%, rgba(211,152,55,1) 80%, rgba(208,145,48,1) 100%);
  background: linear-gradient(45deg, rgba(228,186,83,1) 0%, rgba(241,221,125,1) 14%, rgba(247,236,165,1) 23%, rgba(208,139,48,1) 42%, rgba(247,229,142,1) 62%, rgba(211,152,55,1) 80%, rgba(208,145,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4ba53",endColorstr="#d09130",GradientType=1); 
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}
.glitch{
    text-shadow:  0.0375em 0.0375em 0 red, -0.0375em -0.0375em 0 cyan;
}
.allcaps{
  text-transform: uppercase;
}
.container{
  width: 80vw;
  margin: auto;
}
.text-indent{
  text-indent: 1em;
}

@keyframes Pulsate {
  from { opacity: .05; }
  50% { opacity: .15; }
  to { opacity: .05; }
}

.pulsate {
  animation: Pulsate 4s linear infinite;
}

footer{
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  padding: 0.5em;
  text-align: center;
}
/*
   _____ _                          _               _____ _                         
  / ____| |                        | |             / ____| |                        
 | |    | |__   __ _ _ __ __ _  ___| |_ ___ _ __  | |    | | __ _ ___ ___  ___  ___ 
 | |    | '_ \ / _` | '__/ _` |/ __| __/ _ \ '__| | |    | |/ _` / __/ __|/ _ \/ __|
 | |____| | | | (_| | | | (_| | (__| ||  __/ |    | |____| | (_| \__ \__ \  __/\__ \
  \_____|_| |_|\__,_|_|  \__,_|\___|\__\___|_|     \_____|_|\__,_|___/___/\___||___/
                                                                                    
                                                                                    
*/
/*
------------------------------------------------------------------------------------------------------------------------
 ▗▄▄▖ ▗▄▖ ▗▖  ▗▖▗▄▄▄▖ ▗▄▄▖
▐▌   ▐▌ ▐▌▐▛▚▖▐▌  █  ▐▌   
 ▝▀▚▖▐▌ ▐▌▐▌ ▝▜▌  █  ▐▌   
▗▄▄▞▘▝▚▄▞▘▐▌  ▐▌▗▄█▄▖▝▚▄▄▖
------------------------------------------------------------------------------------------------------------------------
*/
.sonic{
  color: var(--sapphire);
}
/*
------------------------------------------------------------------------------------------------------------------------
▗▄▄▄▖▗▄▖ ▗▄▄▄▖▗▖    ▗▄▄▖
  █ ▐▌ ▐▌  █  ▐▌   ▐▌   
  █ ▐▛▀▜▌  █  ▐▌    ▝▀▚▖
  █ ▐▌ ▐▌▗▄█▄▖▐▙▄▄▖▗▄▄▞▘
------------------------------------------------------------------------------------------------------------------------
*/
.tails {
  color: var(--topaz);
}
/*
------------------------------------------------------------------------------------------------------------------------
▗▖ ▗▖▗▖  ▗▖▗▖ ▗▖▗▖  ▗▖
▐▌▗▞▘▐▛▚▖▐▌▐▌ ▐▌ ▝▚▞▘ 
▐▛▚▖ ▐▌ ▝▜▌▐▌ ▐▌  ▐▌  
▐▌ ▐▌▐▌  ▐▌▝▚▄▞▘▗▞▘▝▚▖
------------------------------------------------------------------------------------------------------------------------
*/
.knuckles {
  color: var(--ruby);
}
/*
------------------------------------------------------------------------------------------------------------------------
 ▗▄▖ ▗▖  ▗▖▗▖  ▗▖
▐▌ ▐▌▐▛▚▞▜▌ ▝▚▞▘ 
▐▛▀▜▌▐▌  ▐▌  ▐▌  
▐▌ ▐▌▐▌  ▐▌  ▐▌  
------------------------------------------------------------------------------------------------------------------------
*/
.amy {
  color: var(--quartz);
}
/*
------------------------------------------------------------------------------------------------------------------------
▗▄▄▖  ▗▄▖ ▗▖ ▗▖ ▗▄▄▖▗▄▄▄▖
▐▌ ▐▌▐▌ ▐▌▐▌ ▐▌▐▌   ▐▌   
▐▛▀▚▖▐▌ ▐▌▐▌ ▐▌▐▌▝▜▌▐▛▀▀▘
▐▌ ▐▌▝▚▄▞▘▝▚▄▞▘▝▚▄▞▘▐▙▄▄▖
------------------------------------------------------------------------------------------------------------------------
*/
.rouge {
  color: var(--garnet);
}
/*
------------------------------------------------------------------------------------------------------------------------
 ▗▄▄▖▗▖ ▗▖ ▗▄▖ ▗▄▄▄   ▗▄▖ ▗▖ ▗▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌  █ ▐▌ ▐▌▐▌ ▐▌
 ▝▀▚▖▐▛▀▜▌▐▛▀▜▌▐▌  █ ▐▌ ▐▌▐▌ ▐▌
▗▄▄▞▘▐▌ ▐▌▐▌ ▐▌▐▙▄▄▀ ▝▚▄▞▘▐▙█▟▌
------------------------------------------------------------------------------------------------------------------------
*/
.shadow {
  color: var(--citrine);
}
/*
------------------------------------------------------------------------------------------------------------------------
▗▄▄▄▖ ▗▄▄▖ ▗▄▄▖▗▖  ▗▖ ▗▄▖ ▗▖  ▗▖
▐▌   ▐▌   ▐▌   ▐▛▚▞▜▌▐▌ ▐▌▐▛▚▖▐▌
▐▛▀▀▘▐▌▝▜▌▐▌▝▜▌▐▌  ▐▌▐▛▀▜▌▐▌ ▝▜▌
▐▙▄▄▖▝▚▄▞▘▝▚▄▞▘▐▌  ▐▌▐▌ ▐▌▐▌  ▐▌
------------------------------------------------------------------------------------------------------------------------
*/
.eggman {
  color: var(--onyx);
}
/*
------------------------------------------------------------------------------------------------------------------------
 ▗▄▄▖▗▄▄▄▖▗▖  ▗▖  ▗▖▗▄▄▄▖▗▄▄▖ 
▐▌     █  ▐▌  ▐▌  ▐▌▐▌   ▐▌ ▐▌
 ▝▀▚▖  █  ▐▌  ▐▌  ▐▌▐▛▀▀▘▐▛▀▚▖
▗▄▄▞▘▗▄█▄▖▐▙▄▄▖▝▚▞▘ ▐▙▄▄▖▐▌ ▐▌
------------------------------------------------------------------------------------------------------------------------
*/
.silver {
  color: var(--diamond);
}
/*
------------------------------------------------------------------------------------------------------------------------
▗▄▄▖ ▗▖    ▗▄▖ ▗▄▄▄▄▖▗▄▄▄▖
▐▌ ▐▌▐▌   ▐▌ ▐▌   ▗▞▘▐▌   
▐▛▀▚▖▐▌   ▐▛▀▜▌ ▗▞▘  ▐▛▀▀▘
▐▙▄▞▘▐▙▄▄▖▐▌ ▐▌▐▙▄▄▄▖▐▙▄▄▖
------------------------------------------------------------------------------------------------------------------------
*/
.blaze {
  color: var(--amethyst);
}

/*
------------------------------------------------------------------------------------------------------------------------
 ▗▄▄▖▗▄▄▖ ▗▄▄▄▖ ▗▄▖ ▗▖  ▗▖
▐▌   ▐▌ ▐▌▐▌   ▐▌ ▐▌▐▛▚▞▜▌
▐▌   ▐▛▀▚▖▐▛▀▀▘▐▛▀▜▌▐▌  ▐▌
▝▚▄▄▖▐▌ ▐▌▐▙▄▄▖▐▌ ▐▌▐▌  ▐▌
------------------------------------------------------------------------------------------------------------------------
*/
.cream {
  color: var(--jasper);
}